# Normalize all text files to LF on commit
* text=auto eol=lf

# Explicitly set binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.dll binary
*.exe binary
*.zip binary
